{
  "all": true,
  "reporter": [
    "text",
    "lcov"
  ],
  "extension": [
    ".js"
  ],
  "include": [
    "**/test/"
  ],
  "exclude": [
    "**/src/config/",
    "**/src/libs/",
    "**/src/models/",
    "**/src/seeders/",
    "**/coverage/"
  ],
  "requires": [
    "@babel/register"
  ]
}