{
  "all": true,
  "reporter": [
    "lcov"
  ],
  "extension": [
    ".js"
  ],
  "exclude": [
    "**/src/config/",
    "**/src/libs/",
    "**/src/models/",
    "**/src/seeders/",
    "**/coverage/"
  ]
}